<p>update-rubros-modal works!</p>

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Actualizar Descripcion de Categoria</h5>
    <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form autocomplete="off" [formGroup]="RubrosFormGroup" (ngSubmit)="cambiarRubro()">

        <div>
      
        
          
         <p></p>
    
    
          <div class="form-group row">
            <label class="col-2 col-form-label">Descripcion</label>
            <div class="col-8 ">
      
              <input class="form-control"
                     type="text"
                     placeholder="Descripcion"
                     formControlName="descripcion"
                     [class.is-invalid]="descripNoValido">
              <small *ngIf="descripNoValido" class="text-danger">
                      Ingrese Descripcion por lo menos de 5 Letras
              </small>
            </div>
          </div>
      
        </div>
         
      </form> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
    <button type="submit" class="btn btn-primary" (click)="cambiarRubro()">Save changes</button>
</div>