
<!--
<apx-chart
[series]="series"
[chart]="chart"
[dataLabels]="dataLabels"
[markers]="markers"
[title]="title"
[yaxis]="yaxis"
[xaxis]="xaxis"
[tooltip]="tooltip"
[autoUpdateSeries]="true"
></apx-chart>

-->

<!--
<apx-chart
  *ngIf="chart && series && xaxis"
  [series]="series"
  [chart]="chart"
  [xaxis]="xaxis"
  [title]="title"
  [yaxis]="yaxis"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [tooltip]="tooltip">
</apx-chart>
-->
<hr>
<!--<td><button (click)="cargarDatos1()" class="btn btn-danger">Gasto Total</button></td>
<td><button (click)="cargarDatos2()" class="btn btn-danger">Gastos por Rubros</button></td>
-->
<div class="container mt-2">
    <div class="jumbotron">
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>
  
    
      
     <p></p>


      <div class="form-group row">
        <label class="col-2 col-form-label">Descripcion</label>
        <div class="col-8 ">
  
          <input class="form-control"
                 type="text"
                 placeholder="Descripcion"
                 formControlName="descripcion"
                 [class.is-invalid]="categoNoValido">
          <small *ngIf="categoNoValido" class="text-danger">
                  Ingrese Descripcion por lo menos de 5 Letras
          </small>
        </div>
      </div>
  
    </div>
  
  
    <p></p>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-8">
        <button type="submit" class="btn btn-outline-primary btn-block">
         + Añadir Rubro
        </button>
      </div>
     
    </div>
  
  </form>
  
    </div>
</div>
  

<div class="container mt-3">
  <div class="row">
         
      <div class="col-md-12">
              <table class="table" >
                  <thead>
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">Editar</th>
                         
                         
                          <th>
                               <button type="submit"  class="btn btn-outline-primary btn-block"><img src="/assets/imagenes/LOGOGASTOS.jpg" width="20px" height="20px">
                         
                              </button>
                          </th>
                      
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of rubros">
          
                          <td>{{item.id}}</td>
                          <td>{{item.descripcion}}</td>
                          <td class="text-center">
                              <img style="cursor: pointer;" src="/assets/imagenes/LAPIZ.png" (click)=" [idlinea=item.id,openModalUpdateRubros(item)] " width="20px"data-toggle="modal" data-target="#exampleModal">

                              
                          
                          
                          
                          </td>
                          
          
                      </tr>
                      
                  </tbody>
              </table>
          </div> 
        
   </div>   
</div>









  <hr>
  <pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
  </pre>
  
  <pre>
  
    {{ forma.value | json }}
  
  </pre>


