<p>gastos works!</p>

<apx-chart
  *ngIf="chart && series && xaxis"
  [series]="series"
  [chart]="chart"
  [xaxis]="xaxis"
  [title]="title"
  [yaxis]="yaxis"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [tooltip]="tooltip">
</apx-chart>

<hr>
<td><button (click)="cargarDatos1()" class="btn btn-danger">Gasto Total</button></td>
<td><button (click)="cargarDatos2()" class="btn btn-danger">Gastos por Rubros</button></td>
<div class="container mt-2">
    <div class="jumbotron">


  

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>
  
    
      
     <p></p>


      <div class="form-group row">
        <label class="col-2 col-form-label">Descripcion de Gasto</label>
        <div class="col-8 ">
  
          <input class="form-control"
                 type="text"
                 placeholder="Descripcion"
                 formControlName="descripcion"
                 [class.is-invalid]="categoNoValido">
          <small *ngIf="categoNoValido" class="text-danger">
                  Ingrese Descripcion por lo menos de 5 Letras
          </small>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">Rubro</label>
            <div class="col-8 ">  
              <select formControlName="selectrubro" class="select-css">
                <option [value]="item.id" *ngFor="let item of rubros">{{item.descripcion}}</option>
                </select>       
              </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Monto</label>
        <div class="col-8 ">
  
          <input class="form-control"
                 type="text"
                 placeholder="Monto"
                 formControlName="monto"
                 [class.is-invalid]="montoNoValido">
          <small *ngIf="montoNoValido" class="text-danger">
                  El monto debe ser numerico
          </small>
         
        </div>
      </div>


  <!--
      <input type="text" formControlName="monto2" placeholder="Ingresa un número" />
      <div *ngIf="monto2?.invalid && monto2?.touched">
        <small *ngIf="monto2?.errors?.['required']">El número es obligatorio.</small>
        <small *ngIf="monto2?.errors?.['pattern']">Solo se permiten números.</small>
      </div>

-->



  
  
    </div>
  
  
    <p></p>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-8">
        <button type="submit" class="btn btn-outline-primary btn-block">
         + Añadir Gasto
        </button>
      </div>
     
    </div>
  
  </form>
  
    </div>
</div>
      
<div class="row mt-5 mb-3">
  <div class="col-md-12">
      <label for="gasto" class=" col-form-label">Buscar Gastos..</label>
  </div>
  <div class="col-md-12">
      <input [(ngModel)]="search" type="text" class="form-control rounded-sm" id="searchForm" placeholder="Busca aqui...">
  </div>

</div>


<div class="container mt-3">
  <div class="row">
         
      <div class="col-md-12">
              <table class="table" >
                  <thead>
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">Rubro</th>
                          <th scope="col">Monto</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Editar</th>
                         
                         
                          <th>
                               <button type="submit"  class="btn btn-outline-primary btn-block"><img src="/assets/imagenes/LOGOGASTOS.jpg" width="20px" height="20px">
                         
                              </button>
                          </th>
                      
                      </tr>
                  </thead>
                  <tbody>
                
                   <tr *ngFor="let item of gastos2 |gastosFilter:search ">
                         <!-- <tr *ngFor="let item of gastos2">-->
          
                          <td>{{item.id}}</td>
                          <td>{{item.concepto}}</td>
                         <td>{{item.rubro?.descripcion}}</td>
                          <td>{{item.monto | currency}}</td>
                          <td>{{item.fecha|date}}</td>
                          <td class="text-center">
                              <img style="cursor: pointer;" src="/assets/imagenes/LAPIZ.png" (click)=" [idlinea=item.id,openModalUpdateGastos(item)] " width="20px"data-toggle="modal" data-target="#exampleModal">

                              
                          
                          
                          
                          </td>
                         <!-- <pre>{{ item | json }}</pre>-->
          
                      </tr>
                      
                  </tbody>
              </table>
          </div> 
        
   </div>   
</div>



  <hr>
  <pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
  </pre>
  
  <pre>
  
    {{ forma.value | json }}
  
  </pre>
