<h1></h1>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrusel 3D</title>
   
</head>
<body>
  <!--  <h2>G e m i s</h2>-->

  <style>
    body {
        background-color:white; /* Cambia 'lightblue' por el color que prefieras */
    }
</style>
    <p></p>
    <div class="content-all">
        <div class="content-carrousel">
          <!--  <figure><img src="/assets/imgcatalogos/1.jpg"></figure>
            <figure><img src=""></figure>
            <figure><img src="/assets/imagenes/GAPALOGO3.PNG"></figure>
            <figure><img src="image/img4.jpg"></figure>
            <figure><img src="/assets/imgcatalogos/4.jpg"></figure>
            <figure><img src="image/img6.jpg"></figure>
            <figure><img src="/assets/imgcatalogos/8.jpg"></figure>
            <figure><img src="image/img8.jpg"></figure>
            <figure><img src="/assets/imgcatalogos/11.jpg"></figure>
            <figure><img src="/assets/imgcatalogos/GAPALOGO3.png"></figure>
            <figure><img src=""></figure>
            <h5> <img src="/assets/imgcatalogos/GAPALOGO3.png"></h5>-->
           
            
        </div>
       
    </div>

   
    <div class="fondo">
      <h2>Control de Gastos</h2>
    </div>
    
    <style>
      .fondo {
        background-image: url('assets/imagenes/graficagastos.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 450px;
        color: white;
        text-align: center;
        padding-top: 150px;
      }
    </style>
    
<div class="container mt-4">
   
      
  <!--   
 <img src="/assets/imagenes/LOGOGASTOS.jpg" width="1300px" height="500px">-->   
   
   <!-- <p><a  href="/vermas">
        <button button type="button"  Class="btn btn-primary btn-lg">Leer Mas  >></button></a>
        </p> -->
     



</div>
</body>


</html>











